* {
  /* box-sizing: border-box; */
}

:focus {
  /* TODO */
}

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

input {
  width: 300px;
}

.search-container {
  width: 300px;
  background-color: aliceblue;
  margin: 330px auto 0;
  border-radius: 2px;
}
.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
}
.search-container .suggestions {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

ul {
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  list-style: none;
}
ul li:hover {
  /* TODO */
}

input {
  /* TODO */
}
