* {
  box-sizing: border-box;
}

:focus {
  /* TODO */
}

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

input {
  width: 300px;
}

.search-container {
  width: 300px;
  background-color: aliceblue;
  margin: 300px auto 0;
  border-radius: 2px;
  padding: 1px;
  padding-bottom: 0px;
}
.search-container input,
.search-container .suggestions {
}
.search-container input {
  flex: 1;
  height: 30px;
  background: transparent;
  border: 0;
  outline: 0;
}
.search-container .suggestions {
}

ul {
  /* gotta be careful */
  align-items: left;
}
ul.has-suggestions {
}
ul li {
  display: flex;
}
ul li:hover {
  background: aquamarine;
  animation-delay: 2ms;
}
